@tailwind base;
@tailwind components;
@tailwind utilities;

.flippable-card {
    transform-style: preserve-3d;
    transition: all 0.755s ease;
}

.flippable-card > .card-front {
    transform: rotateY(0deg);
    backface-visibility: hidden;
}   

.flippable-card > .card-back {
    transform: rotateY(180deg);
    backface-visibility: hidden;
    background:white;
}

.transition-opacity-300 {
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
  }

  .transition-opacity-450 {
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
  }

  
  .transition-opacity-800 {
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 800ms;
  }